/* h1{
    color: #649d55;
    background-color: aquamarine;
    width: 200px;
    height: 200px;
    margin: 50px;
    padding: 50px;
    border-radius: 50px;
}

h2{
    border: solid 5px #ebf303;
    background-color: red;
} */

#manoela{
    background-color: aqua;
}

.title{
    background-color: red;
}